<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSS: Facilitators</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />

</head>
<body class="bg-light">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
              The Sacred Search |
            </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/">
                    <!-- <span data-feather="home"></span> -->
                    Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                    Schedule/Questions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/faithstatement">
                    Gary Thomas: Statement of Faith</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/guidelines">
                    Group Guidelines</a>
              </li>
            </ul>
          </div>
        </nav>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              </button>
            </div> 
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="jumbotron">
            <h1 class = "display-4">Facilitators</output></h1>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3 class="h3">Questions</h3><br>
              </div>

              <h5>Resources:</h5>
              <a href="https://sacredsearch.herokuapp.com/separategroups">Small Groups: Girls & Guys</a><br>
              <a href="https://sacredsearch.herokuapp.com/resources"> Notes on Sexual Addiction</a><br>
              <a href="http://marri.us/wp-content/uploads/The-Effects-of-Pornography-on-Individuals-Marriage-Family-and-Community.pdf">The-Effects-of-Pornography-on-Individuals-Marriage-Family-and-Community</a><br>
              <br>
              <a href="https://www.thegospelcoalition.org/article/c-s-lewis-on-selfishness-vs-self-interest/">selfishness-vs-self-interest</a><br>
              <a href="https://www.gotquestions.org/egalitarianism.html">What is egalitarianism?</a><br>
              <a href="https://www.gotquestions.org/complementarianism.html">What is complementarianism?</a><br>
              <h6>Disclaimer: These resources lean towards complementarianism as the Biblical viewpoint but provide explanations for both.</h6>
              
              <br><br>
             
              <div><h5>Chapter 14: Trinity Talk, Get to Know Character, Memory Lane, Pray Together</h5> 
       
1. What are some initial thoughts you had while reading this chapter? "What you don't know really can hurt you"
<br><br>2. What is the difference between someone who is growing in Christ versus someone who is stagnant? How important is spiritual growth in a relationship?

<br><b>[FACILITATORS: How can you tell in a healthy, graceful, but truthful way?]</b>

<br><br>3. What are the dangers of someone who freely shares past failings but never current struggles? 
<br><br><br>
<h5>Chapter 15: Sex, Sin, & Hope</h5>

<i>1 Thessalonians 4: 3-7

"For this is the will of God, your sanctification: that you should abstain from sexual immorality; 
that each of you should know how to possess his own vessel in sanctification and honor, 
not in passion of lust, like the Gentiles who do not know God; that no one should take advantage of and defraud his brother in this matter, 
because the Lord is the avenger of all such, as we also forewarned you and testified. 
For God did not call us to uncleanness, but in holiness."
</i><br><br>
1. What about this verse stands out to you in the context of understanding  God's plan for sex?
<br><br>2. In what ways does science reveal God's plan for sexuality? 

<br><b>[FACILITATORS: How is God's plan reinforced? How is it misused or warped?]</b>

<br><br> 3. Repeated actions over time make us who we are. We shape our brains. (194) 

    <br><br><i>Romans 12:2
    And do not be conformed to this world, but be transformed by the renewing of your mind, so that you may prove what the will of God is, that which is good and acceptable and perfect.
  </i><br><br>
     Therefore, why are patterns of sin, especially sexual sin, difficult to overcome? 

<br><br>4. Why is it important to discuss with someone you are dating past sexual sins and vice versa? 

<br><b>[FACILITATORS: What does it mean to "count the cost" in these discussions? What is meant by weaponizing someone's sexual past? Is this ok?]
</b><br><br>
5. <b>EXERCISE:
  <br>
[FACILITATORS: With slips of paper:  Answer by writing "yes" or "no" to the question,
<br>
<p>- Have you ever committed some kind of sexual sin including but not limited to promiscuity,  pre-marital sex, cybersex; shared, asked for, or created explicit photos (e.g. sexting/nudes), consumed explicit sexual material in movies, television, books; homosexuality, pornography of any kind, masturbation, etc.? ]
</p>
[FACILITATORS: It is a wide net. If any apply to you please write yes. If none apply, with a clear conscience, please write no.]
<br><br>
[The point of this exercise is to demonstrate that we ALL fall short of the glory of God in many ways and this area is no exception. This is not meant to justify sinful behavior or place everything into one category. Some of us may be healed or healing in this area, many of us may need to start. This exercise is meant to establish an attitude of humility and grace and honesty.]
</b><br><br>
6. The author gives hope that with Biblical truth (often combined with professional help), we can be restored and "rewired" to enjoy God's initial design. In what ways does this message mirror the message of hope and restoration found in Jesus Christ?
<br><br>
<i>Redemption, Grace, Restoration: 

<br><br>Ephesians 1:7 In him we have redemption through his blood, the forgiveness of our trespasses, according to the riches of his grace,

<br><br>1 Corinthians 6:20 For you were bought with a price. So glorify God in your body.

<br><br>Isaiah 44:22 I have blotted out your transgressions like a cloud and your sins like mist; return to me, for I have redeemed you.

<br><br>Romans 5: 20-21 Moreover the law entered that the offense might abound. But where sin abounded, grace abounded much more, 21 so that as sin reigned in death, even so grace might reign through righteousness to eternal life through Jesus Christ our Lord.

<br><br>Hebrews 9:12 He entered once for all into the holy places, not by means of the blood of goats and calves but by means of his own blood, thus securing an eternal redemption.

<br><br>Romans 8:1 There is therefore now no condemnation to those who are in Christ Jesus, who[a] do not walk according to the flesh, but according to the Spirit.
</i><br>
   
          
        <br><br><i><b>Facilitators:
                </i></b><br><b><h5>Next Week: FINAL discussion. Chapters 18, 19, & Epilogue</h5><br>
                                 
              </div> 
        </div>
 
       
    <!--Bootstrap core JS: Placed at end of doc so pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!-- Icons -->
     <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
     <script>
       feather.replace()
     </script>
</body>
</html>