<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSS: Facilitators</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />

</head>
<body class="bg-light">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
              The Sacred Search |
            </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/">
                    <!-- <span data-feather="home"></span> -->
                    Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                    Schedule/Questions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/faithstatement">
                    Gary Thomas: Statement of Faith</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/guidelines">
                    Group Guidelines</a>
              </li>
            </ul>
          </div>
        </nav>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              </button>
            </div> 
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="jumbotron">
            <h1 class = "display-4">Facilitators</output></h1>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3 class="h3">Test Questions</h3><br>
              </div>

              <h5>Resources:</h5>
              <a href="https://sacredsearch.herokuapp.com/separategroups">Small Groups: Girls & Guys</a><br>
              <a href="https://sacredsearch.herokuapp.com/resources"> Notes on Sexual Addiction</a><br>
              <a href="http://marri.us/wp-content/uploads/The-Effects-of-Pornography-on-Individuals-Marriage-Family-and-Community.pdf">The-Effects-of-Pornography-on-Individuals-Marriage-Family-and-Community</a><br>
              <a href="https://www.thegospelcoalition.org/article/c-s-lewis-on-selfishness-vs-self-interest/">selfishness-vs-self-interest</a><br>

              <br><br>
              <div><h5>Chapter 16:</h5> 
          <br>1. What is the difference between givers and takers? 
      <br><br>2. How can you tell if someone is more of one than the other?
      <br><br>3. How might refusing to receive from others be a form of selfishness? 
      <br><br> <b>[Facilitators: Examples of Jesus receiving from others in the Bible?]</b>
      <br><br>4. What does it look like to find a person of respect versus a person who is "incomplete?"
      <br><br><i>"The kind of respect we're talking about is a respect engendered from a person's character and actions, not position [as a spouse]." (208)
          <br>"Marriage doesn't solve emptiness; it exposes it." (211)</i>
      <br><br>5. How does knowing our identity in Christ allow us to love others well, even when it risks their disapproval?

                <br><br><br>
  
                <h5>Chapter 17:</h5>
          <br>1. What does it mean to live life as "mission first" and everything else second, including marriage? 
         <br><br><i>"A happy marriage is [not] the primary goal of [Christian] life. Glorifying God is." (221)</i>
              <br><b>[Facilitators: Does "marriage second" mean it should be forgotten or neglected?]</b>
      <br><br>2. How does "mission first" establish the foundation we need to walk through difficult circumstances with a future spouse?  
            
      <br><br><b>[Facilitators: What does it mean that people are "dynamic?"]</b>
            <br><i>Matthew 6:33 Seek first the kingdom of God and His righteousness and all these thing will be added unto you.
          <br>Matthew 28:20b "'teaching them to observe all things that I have commanded you; and lo, I am with you always, even to the end of the age.' Amen."
              </i>
          <br><br>3. How can you properly evaluate someone as a potential marriage partner without tearing that person apart?
          <br><br>4. How do you keep that balance between recognizing someone's strengths while also seriously considering weaknesses?
  
        <br><br><i><b>Facilitators:
                </i></b><br><b><h5>Next Week: Chapters 11, 12 & 13 <br> Married Couples to Join Us!</h5><br>
                                 
              </div> 
        </div>

       
    <!--Bootstrap core JS: Placed at end of doc so pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!-- Icons -->
     <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
     <script>
       feather.replace()
     </script>
</body>
</html>