<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <title>TSS:Chapter2&3</title>
       
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    
    
        <!-- Custom styles for this template -->
    <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://sacredsearch.herokuapp.com/"> The Sacred Search</a>
    <ul class="navbar-nav px-2">
      <li class="nav-item text-nowrap">
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        </button>
      </div> 
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="static">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="https://sacredsearch.herokuapp.com/">
                <span data-feather="home"></span>
                Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                Schedule/Questions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/faithstatement">
                Gary Thomas: Statement of Faith
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/guidelines">
                Group Guidelines 
              </a>
            </li>
          </ul>  
        </div>
      </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Chapter 2 & 3 Questions</h1><br>
            </div>

            <div><h5>Chapter 2:</h5> 
              1. What role does our entertainment play in determining what people think about the phrase "falling in love?" <br>
              To what extent have you personally been impacted by this perspective both currently and in the past?<br><br>

              2. Our culture tells us that happiness, chemistry, intense feelings, and general compatibility <br>
              are the <i>most</i> important aspects to find in a lasting relationship.<br>
              How does Matthew 6:33 contradict this premise, and again why is it important? <br>
              What does it look like?
              <br><br>
              
              <h5>Chapter 3:</h5>

              1. Infatuation can be blinding, misleading, or potentially even dangerous.<br> 
              Have you ever experienced infatuation and how long did it last for you?<br> 
              What are some clues that infatuation might be setting in? <br><br>

              2. Is it possible to think logically, make good decisions, while feeling "all the fuzzies" of infatuation? <br>
              What does it look like to make good decisions and mitigate the "idealization" that comes with infatuation?<br>

              <i>Look up the following verses and discuss: Proverbs 11:14, Proverbs 12:15, James 3:2, 1 Thessalonians 5:17</i><br><br>

              3. What does it look like to be on the opposite side of infatuation as a friend or person acting as a source of accountability?<br> 
              What are some difficulties or questions you might have when stepping into a role of accountability for someone else? <br>
              How many sources of accountability should we have?<br><br>
              
              4. As Christians we have the Holy Spirit to help us control our thoughts, emotions, and feelings. <br>
              What steps or actions can you take, now, to ensure that the Holy Spirit ultimately guides and interprets your emotions/feelings for you? <br>
              Practically, why is it important to have a "reasonably accurate" view of someone?<br>
              <i>Look up these verses: James 1:5, Psalm 1:2-3, Proverbs 3:6, Jeremiah 17:9</i><br><br>
              
              <b>Psalms 106:13-15: A Warning for when we operate without God's council.</b><br><br>
              
            </div>

           




    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
     
        
   
</html>