<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <title>TSS:Chapter 11-13</title>
       
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    
    
        <!-- Custom styles for this template -->
    <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://sacredsearch.herokuapp.com/"> The Sacred Search</a>
    <ul class="navbar-nav px-2">
      <li class="nav-item text-nowrap">
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        </button>
      </div> 
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="static">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="https://sacredsearch.herokuapp.com/">
                <span data-feather="home"></span>
                Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                Schedule/Questions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/faithstatement">
                Gary Thomas: Statement of Faith
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/guidelines">
                Group Guidelines 
              </a>
            </li>
          </ul>  
        </div>
      </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Chapter 11, 12, & 13 Questions</h1><br>
            </div>
            <div>
              
              <br><br>
              <div><h5>Chapter 11: Making a Marriage</h5> 
       
              <br>  1. What did you find interesting from the chapter "making a marriage?"
                                
              <br><br>2. When talking about humility what does it mean to be more concerned with light and truth than with being right? What about pride? What about serving?
                
              <br><br> <i>(Mark not to be served but to serve
                
                <br> James God opposes the proud but gives grace to the humble)</i>
                
                <br><br>3. Why is unforgiveness so detrimental to the survival of a marriage? How can you tell if the person you want to marry is capable of forgiving?
                <br><br>4. What does healthy conflict resolution look like? What about unhealthy conflict resolution?
                <br><br><br>
                <h5>Chapter 12: Gender Roles</h5>
                
                1. What are some likely problems that will arise if a complementarian marries an egalitarian, or vice versa?
                <br><br> 2. How might these views affect the way you raise and train your children?
                <br><br><br>
                <h5>Chapter 13: Compatibility</h5>
                
                1. To what degree do people change after they get married? What is the problem with marrying someone for who they might become as opposed to who they are?
                <br><br>2. How important is it to marry someone you not only love but also like and respect? Why?
                                
                <br><br>3. What areas of compatibility might be unwise to compromise on simply because you have strong feelings for someone?
                                
                <br><br>4. If someone starts making compromises on important issues just to keep a relationship together, how can they work through these concerns in a responsible way?

                <br><br><br>
            </div>

           




    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
     
        
   
</html>