<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <title>TSS:Chapter1</title>
       
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    
    
        <!-- Custom styles for this template -->
    <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://voterturnoutdashboard.herokuapp.com/"> The Sacred Search</a>
    <ul class="navbar-nav px-2">
      <li class="nav-item text-nowrap">
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://voterturnoutdashboard.herokuapp.com/">Home</a></li>
          <li><a href="https://voterturnoutdashboard.herokuapp.com/GeneralTurnout">Schedule/Questions</a></li>
          <li><a href="https://voterturnoutdashboard.herokuapp.com/Nonvoters">Gary Thomas: Statement of Faith</a></li>
          <li><a href="https://voterturnoutdashboard.herokuapp.com/Competitiveness">Group Guidelines</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="static">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="https://voterturnoutdashboard.herokuapp.com/">
                <span data-feather="home"></span>
                Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://voterturnoutdashboard.herokuapp.com/GeneralTurnout">
                Schedule/Questions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://voterturnoutdashboard.herokuapp.com/Nonvoters">
                Gary Thomas: Statement of Faith
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://voterturnoutdashboard.herokuapp.com/Competitiveness">
                Group Guidelines 
              </a>
            </li>
          </ul>  
        </div>
      </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Chapter 1 Questions</h1><br>
            </div>
            <div class="plotly-graph-div" id="552f371c-0774-4240-9cf3-c31d1adb0a77" width="2000" height="100"> </div>

            <div><h5>Get to know you:</h5> 

              How do you personally deal with conflict, and in your opinion what is the ideal way conflict ought to be handled?<br><br>
              The following are just a few key Scriptures in this regard (there are many others).<br>
              - If someone sins against you (Matthew 18:15-20)<br>
              - Restoring someone in sin (Galatians 6:1-5)<br>
              - Forgive a sinner (Colossians 3:12-14)<br>
              - Reconciling differences (**Matthew 7:1-5,** Matthew 5:23-24)<br><br>
              
              <h5>Chapter 1 Discussion Questions:</h5>
              
              1. First, have you ever asked yourself the question, "Why do I want to get married?" (if indeed you do).<br> 
              How would getting married with Matthew 6:33 in mind change the way you pursue people and the type of person you might consider as you move forward?<br><br>
              2. How does Matthew 6:33 help establish a firm foundation for both a Biblical pursuit of marriage and marriage itself?<br>
              Why does the "Why" matter?<br>
              3. Tears of pain and tears of joy.<br>
              How does the example of marriage as a burden vs a blessing impact you? Does it surprise you that in marriage both kinds of tears are inevitable?<br><br>
              4. What does it take for selfish people to become servants? (Philippians 2:4-8)<br> 
              Why is living for self a cause for misery? (James 3:16-17)<br><br>
              5. From some of the prominent ideas in this chapter (e.g. shared mission, no one can be enthralled by another person forever, <br>
              romantic infatuation/sexual attraction, tears of joy vs pain, "Why" vs "Who")<br>
              which stood out to you the most? <br>
              When can you take time to prayerfully ask the Lord about these concepts this week? (James 1:5)<br><br>
              
                  *Time Permitting:*<br>
              
              6. Question from end of chapter "Study Questions" or other individual questions from chapter material.<br><br><br></div>

           




    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
     
        
   
</html>