<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <title>TSS:Chapter 9&10</title>
       
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    
    
        <!-- Custom styles for this template -->
    <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://sacredsearch.herokuapp.com/"> The Sacred Search</a>
    <ul class="navbar-nav px-2">
      <li class="nav-item text-nowrap">
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        </button>
      </div> 
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
          <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="static">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="https://sacredsearch.herokuapp.com/">
                <span data-feather="home"></span>
                Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                Schedule/Questions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/faithstatement">
                Gary Thomas: Statement of Faith
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://sacredsearch.herokuapp.com/guidelines">
                Group Guidelines 
              </a>
            </li>
          </ul>  
        </div>
      </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Chapter 9 & 10 Questions</h1><br>
            </div>

            <div><h5>Chapter 9:</h5> 
            <br>    1. Which of the 12 styles described best fit the kind of marriage you imagined having? Or which aspects of these "styles" describe your ideal relationship?
            <br><br>2. What is the significance of honestly and intentionally determining my own and my potential/current partner's marriage assumptions? How important, or is it important, to agree on these aspects? 
            <br><br>3. What are your thoughts about the statement that breaking off a relationship when these considerations don't or can't align is "the most loving thing you can do?" (pg 113)
                      
                <br><br><br>

              <h5>Chapter 10:</h5>
            1. How would you rank the importance of the four aspects described in this chapter: character, parenting potential, extended family, and spiritual humility? What are the values of each when making potential marriage or relationship decision?

            <br><br><b>(FACILITATORS: Note on family: A person's family will have an impact on our married life. This is a realistic expectation. Also, it harmful to falsely assume a person's family is perfect or can be "completing." This is not a realistic expectation.
        
            <br><br>FACILITATORS: Note on mental illness: sensitive topic, people in the group who either have struggled with mental health or have close family who struggle with mental health. This is wise to be upfront about with a potential partner, while it may not preclude someone from being a strong or healthy partner it is like any other important topic to discuss.)
                          </b>
            <br><br>2. What is the difference between being "defined" by something and being "impacted" by something? What is the role of Christ and redemption in determining which applies to us?
        
            <br><br>3. If anyone can enjoy a movie, a hike, coffee conversation, or making out, then how important is a person's spiritual growth when deciding on a relationship or marriage? How does this apply to me and my own spiritual growth?
                          
            <br><br>4. Discuss the following verses from Proverbs and how they are important when evaluating "building a family.""
        
              <br><br><i>Proverbs 24:3-7 By wisdom a house is built, and by understanding it is established; by knowledge the rooms are filled with all precious and pleasant riches. A wise man is full of strength, and a man of knowledge enhances his might, for by wise guidance you can wage your war, and in abundance of counselors there is victory. Wisdom is too high for a fool; in the gate he does not open his mouth.
                    
              <br><br>Proverbs 12:15 The way of a fool is right in his own eyes, but a wise man listens to advice.
                    
              <br><br>Proverbs 29:11 A fool gives full vent to his spirit, but a wise man quietly holds it back.</i>
                        

             <br><br><br>
            </div>

           




    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
     
        
   
</html>