<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSS: Facilitators</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />

</head>
<body class="bg-light">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
              The Sacred Search |
            </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/">
                    <!-- <span data-feather="home"></span> -->
                    Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                    Schedule/Questions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/faithstatement">
                    Gary Thomas: Statement of Faith</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/guidelines">
                    Group Guidelines</a>
              </li>
            </ul>
          </div>
        </nav>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              </button>
            </div> 
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="jumbotron">
            <h1 class = "display-4">Facilitators</output></h1>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3 class="h3">Test Questions</h3><br>
              </div>
  
              <div><h5>Chapter 4:</h5> 
              <br>
                1. Why do you think the same women who, as girlfriends, often defended their boyfriends, now, as wives, 
            <br>often complain about the same men who have become their husbands? What is going on here?
                <br>
                <b><br>- Acts 6:3 Choose men who are known to be full of the Spirit and wisdom.<br><br>
                  - 1 Peter 5:8 Be sober-minded; be watchful. 
                  Your adversary the devil prowls around like a roaring lion, seeking someone to devour.</b>     
        <br><br>2. Given that men are biologically predisposed to be impressed with physical beauty,<br>
                how can they base the decision to marry on a woman's qualities that will outlast physical appearance? 
                Is this a realistic question to ask?
                <br><br>
                <b>- 1 Peter 5:8 Be sober-minded; be watchful. 
                  Your adversary the devil prowls around like a roaring lion, seeking someone to devour.
          <br><br>- Proverbs 31:30 Charm is deceitful and beauty is passing, 
                  But a woman who fears the Lord, she shall be praised.
          <br><br>- Proverbs 12:4 An excellent wife is the crown of her husband, 
                But she who causes shame is like rottenness in his bones.
                </b>     
          <br><br>3. What is the difference between self-interest and selfishness? How is choosing wisely and 
                  <br>acting wisely good for our self interest but not necessarily an act of selfishness? (pg 51)
          <br><br><b>-Looking for someone who can walk with me toward God. "It's not selfish to choose wisely in marriage; 
                  it's being a good steward of the one life God has given you."
          <br><br>- C.S. Lewis quote: "Our Lord finds out desires not too strong, but too weak. 
                  We are half-hearted creatures, fooling about with drink, sex, and ambition, 
                  when infinite joy is offered us, like an ignorant child who wants to go on 
                  making mud pies in a slum because he cannot imagine what is meant by the offer of a 
                  holiday at the sea. We are far too easily pleased."<br><br></b>

                  <h5>Chapter 8:</h5>
          <br>1. What does the Bible say about sex and marriage?
              <br>Look up verses and discuss 
                  (1 Corinthians 6:15-20, 1 Corin 7:36-38, 1 Thess. 4:3-7, Hebrews 13:4) pg 84
              <br><br><b>- God made it, God made us to be sexual beings, God made sex ONLY for the confines of marriage. 
              <br>- For some call to be holy is veiled call to be married pg 89
              </b><br><br>
              2. How can someone be motivated by sexual desire but not ruled by it when actively pursuing marriage? <br>
              To what extent should this be a consideration for women and to what extent a consideration for men? pg 84<br>
              <b><br>- 1 Corinthians 7:9 but if they cannot exercise self-control, let them marry. For it is better to marry than to burn with passion.
              <br>- Proverbs 5:18-19 Let your fountain be blessed, And rejoice with the wife of your youth. As a loving deer and a graceful doe, 
              Let her breasts satisfy you at all times; And always be enraptured with her love.</b><br><br>
              3. Do you think it is wise to marry someone you highly respect and enjoy being around, but for whom you don't have intense feelings of infatuation?
      <br><br>4. How important is it to you to be "financially secure" before you get married? How can this be balanced against other issues?

                
        <br><br><i><b>Facilitators:
                </i></b><br><b><h5>Next Week: Chapters 9&10</h5></b>

              </div>
        </div>

       
    <!--Bootstrap core JS: Placed at end of doc so pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!-- Icons -->
     <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
     <script>
       feather.replace()
     </script>
</body>
</html>