<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSS: Facilitators</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />

</head>
<body class="bg-light">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
              The Sacred Search |
            </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/">
                    <!-- <span data-feather="home"></span> -->
                    Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                    Schedule/Questions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/faithstatement">
                    Gary Thomas: Statement of Faith</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/guidelines">
                    Group Guidelines</a>
              </li>
            </ul>
          </div>
        </nav>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              </button>
            </div> 
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="jumbotron">
            <h1 class = "display-4">Facilitators</output></h1>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3 class="h3">Test Questions</h3><br>
              </div>
  
              <div><h5>Chapter 5:</h5> 
                1. The Bible says you are perfectly loved, well cared for, secure in Christ's acceptance, affirmation, purpose, and love. How does completeness and whole-ness in Christ impact the common idea of a finding a "soul mate"? What is the difference between desperation and security when looking for a potential spouse? 
        <br><br>2. If we want to honor God in the face of temptation, what is the difference between flippancy and intentionality? (*Being flippant with sin is not a reason to get married. Marriage doesn't fix sin. However, for those not called to singleness, Paul says it is better to be married than to burn with passion.)
        <br><br>3. Often we look at another person or group of people and think about what we are getting, how they make us feel, and what we want. This is the opposite of love. Biblically, what does sacrificial love look like? (Verses) How can we apply all the aspects of sacrificial love to our everyday interactions and behaviors, now, while we are single?
                <br><br>
                <h5>Chapter 6:</h5>
                1. What are some reasons the example of Rebekah and Isaac, David and Bathsheba, or Mary and Joseph are not likely templates for most Christians to follow? Instead of looking for emotional or spiritual shortcuts, what kind of character and confirmation should we seek both for our own lives and in a potential spouse's life?
                <br><br>
                <h5>Chapter 7:</h5>
                1. In what ways does Christian culture "over-spiritualize" the process of finding a spouse? What does it look like to "make an effort?" How is this different from acting desperately?
        <br><br>2. Are the goals of seeking God's kingdom and seeking a potential marriage partner mutually exclusive? What is the difference between being lazy or being idolatrous in this pursuit? How can we know if we have fallen into an attitude of laziness or complacency?
        <br><br>3. How big a role has prayer played in your own pursuit for a potential spouse?
              </div>
        </div>
         
        
        
        

       
    <!--Bootstrap core JS: Placed at end of doc so pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!-- Icons -->
     <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
     <script>
       feather.replace()
     </script>
</body>
</html>