<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSS: Facilitators</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />

</head>
<body class="bg-light">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
              The Sacred Search |
            </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/">
                    <!-- <span data-feather="home"></span> -->
                    Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://sacredsearch.herokuapp.com/schedule">
                    Schedule/Questions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/faithstatement">
                    Gary Thomas: Statement of Faith</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://sacredsearch.herokuapp.com/guidelines">
                    Group Guidelines</a>
              </li>
            </ul>
          </div>
        </nav>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              </button>
            </div> 
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://sacredsearch.herokuapp.com/">Home</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/schedule">Schedule/Questions</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/faithstatement">Gary Thomas: Faith Statement</a></li>
                <li><a href="https://sacredsearch.herokuapp.com/guidelines">Group Guidelines</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="jumbotron">
            <h1 class = "display-4">Facilitators</output></h1>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3 class="h3">Questions</h3><br>
              </div>

              <h5>Resources:</h5>
              <a href="https://sacredsearch.herokuapp.com/separategroups">Small Groups: Girls & Guys</a><br>
              <a href="https://sacredsearch.herokuapp.com/resources"> Notes on Sexual Addiction</a><br>
              <a href="http://marri.us/wp-content/uploads/The-Effects-of-Pornography-on-Individuals-Marriage-Family-and-Community.pdf">The-Effects-of-Pornography-on-Individuals-Marriage-Family-and-Community</a><br>
              <a href="https://www.thegospelcoalition.org/article/c-s-lewis-on-selfishness-vs-self-interest/">selfishness-vs-self-interest</a><br>
              <a href="https://www.gotquestions.org/egalitarianism.html">What is egalitarianism?</a><br>
              <a href="https://www.gotquestions.org/complementarianism.html">What is complementarianism?</a><br>
              <h6>Disclaimer: These resources lean towards complementarianism as the Biblical viewpoint but provide explanations for both.</h6>
              
              <br><br>
             <h5> Chapter 18:</h5>

              <br>1. What do Mary and Martha's responses to Jesus after their brother's death reveal about our own responses to God's work in our lives?
              <br><br>2. Why is the <i>process</i> important when pursuing someone to marry?
              <br><br><br>
              <h5>Chapter 19:</h5>

              1. What are common reasons couples may continue in a potentially unwise relationship, even to the point of marriage, rather than ending it?
              <br><br>2. How can this be avoided and what healthy strategies can be utilized?
              <br>
                  <b>[FACILITATORS: Sooner is better than later, Be helpful but not a counselor, Own the decision, If it's over, tell them.]
                  </b>
                    <br><br><br>
              <h5>Epilogue: A New Vision</h5>
              
              1.How has your view changed on what it means to live out Matthew 6:33 in regards to relationships? (If it has changed).               <br><br>
              <br><br>
              <h5>OPTIONAL Final thoughts and sharing:</h5>
              
                <b>[FACILITATORS:
              
                <br>How do you see purpose in answering the "why" versus "who" question for marriage?
              
                <br><br>Have there been any misconceptions that have been addressed or challenged?
              
                <br><br>What, if any, practical tools for application have you gained?]</b>
    
                <br><br><br><br>
                                 
              </div> 
        </div>
 
       
    <!--Bootstrap core JS: Placed at end of doc so pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!-- Icons -->
     <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
     <script>
       feather.replace()
     </script>
</body>
</html>