<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSS: Guidelines</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />

</head>
<body class="bg-light">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
              The Sacred Search |
            </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://voterturnoutdashboard.herokuapp.com/">
                    <!-- <span data-feather="home"></span> -->
                    Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://voterturnoutdashboard.herokuapp.com/GeneralTurnout">
                    Schedule/Questions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://voterturnoutdashboard.herokuapp.com/Nonvoters">
                    Gary Thomas: Statement of Faith</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link disabled" href="https://voterturnoutdashboard.herokuapp.com/Competitiveness">
                    Group Guidelines</a>
              </li>
            </ul>
          </div>
        </nav>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              </button>
            </div> 
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://voterturnoutdashboard.herokuapp.com/">Home</a></li>
                <li><a href="https://voterturnoutdashboard.herokuapp.com/GeneralTurnout">Schedule/Questions</a></li>
                <li><a href=" ">Gary Thomas: Faith Statement</a></li>
                <li><a href="https://voterturnoutdashboard.herokuapp.com/Competitiveness">Group Guidelines</a></li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="jumbotron">
            <h1 class = "display-4">Small Group Guidelines</output></h1>
            <header>Colossians 3:12-13<br>
              "Therefore, as the elect of God, holy and beloved, put on tender mercies, 
              kindness, <b>humility, meekness, longsuffering; bearing with one another,<br> 
              and forgiving one another,</b> if anyone has a complaint against another; 
              even as Christ forgave you, so you also must do." </header>
        </div>
        <div><div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                <h3>Patience <small> <br></small>  
                
                <small> <br> </small>  </h3></h3>

            </div>
         
        <div class="col-md-8">
           <h4>Listen</h4> 
            <p>Let’s value one another during the discussions by really listening to what is being shared. 
             Try to avoid thinking about how you are going to respond, or what you are going to say next.<br><br>
             (No Cross Talk/Text: Be considerate of others as they are sharing. No side conversations.)
            </p>    
          <h4>Pause</h4>
            <p>Allow a pause in conversation after someone shares. Give the person sharing the chance to 
              finish and the group the opportunity to consider what was just shared before responding.
            </p>
          <h4>Silence</h4>
            <p>It is important to allow silence in the group as it provides an opportunity for someone 
              to share and for members in the group to process the topic or question being considered.</p>
        </div>

        <div><div class="container-fluid">
          <div class="row">
              <div class="col-md-4"><br>
              <h3>Bearing With One Another <small></small>  </h3>
          </div>
        
          <div class="col-md-8"><br>
            <h4>No Fixing</h4>
              <p>We are not here to fix each other. Jesus does that part. Give encouragement; speak truth, 
                and point to Jesus. Don’t try to solve or fix each other.
              </p>   
            <h4>No Rescuing</h4>
              <p>When people are sharing something, there can be a tendency to try to make them feel better 
                about themselves or the situation by providing immediate condolences. This will often cause them to stop sharing. 
                Resist the temptation to rescue people.<br><br>

                TENSION is not always something to be avoided.</p>
          </div>  
        
        <div><div class="container-fluid">
          <div class="row">
              <div class="col-md-4"><br>
              <h3>Humility/Meekness </h3>
          </div>
        
          <div class="col-md-8"><br>
            <h4>Sharing</h4>
              <p>Be sensitive about the amount of time you share.
              </p>   
            <h4>Be Self-Aware</h4>
              <p>Be self-aware of how you are personally effecting 
                the environment through your words, actions and non-verbal communication.</p>
            <h4>Use "I" Statements</h4>
              <p>It’s easy to talk about the issues of others, 
                but for our purposes, we want you to put yourself on the table. 
                Try to use “I” statements rather than “them”, “the church”, “us”, “we”, etc.</p>
        </div> 

        <div><div class="container-fluid">
          <div class="row">
              <div class="col-md-4"><br>
              <h3>Bearing With One Another  </h3>
          </div>
        
          <div class="col-md-8"><br>
            <h4>Conflict</h4>
          <p>We will commit to resolve conflict Biblically. When conflict or sin issues between group members arise, 
            we want to make sure that we are honoring God and each other in the way we deal with these issues.<br><br>
            The following are just a few key Scriptures in this regard (there are many others).<br>
            If someone sins against you *(Matthew 18:15-20)<br>
            Restoring someone in sin *(Galatians 6:1-5)<br>
            Forgive a sinner ***(Colossians 3:12-14)<br>
            Reconciling differences *(Matthew 5:23-24, Matthew 7:1-5)
          </p>   
        </div> 

    <!--Bootstrap core JS: Placed at end of doc so pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../app/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!-- Icons -->
     <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
     <script>
       feather.replace()
     </script>
</body>
</html>